<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>474972410255-lo9oft7l85uvg4q0osju6ji9jpr2eehk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474972410255-lo9oft7l85uvg4q0osju6ji9jpr2eehk</string>
	<key>API_KEY</key>
	<string>AIzaSyBpofVxOqnmDmC1gKFP2L9W0a-0BzLmwLw</string>
	<key>GCM_SENDER_ID</key>
	<string>474972410255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.FoodIt</string>
	<key>PROJECT_ID</key>
	<string>foodit-e5ede</string>
	<key>STORAGE_BUCKET</key>
	<string>foodit-e5ede.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474972410255:ios:60e56c0d7c2053f866bbfa</string>
	<key>DATABASE_URL</key>
	<string>https://foodit-e5ede.firebaseio.com</string>
</dict>
</plist>